In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
file_path = "C:/Users/thege/OneDrive/Escritorio/IH/Week 5,6P/data/clean/2+3.csv"
df = pd.read_csv(file_path)
df

       client_id variation process_step            date_time
0            555      Test      confirm  2017-04-15 13:00:34
1            647      Test      confirm  2017-04-12 15:47:45
2            934      Test        start  2017-04-18 02:38:52
3           1028   Control       step_1  2017-04-08 19:00:26
4           1186   Control       step_2  2017-04-08 18:05:24
...          ...       ...          ...                  ...
40023    9998921   Control        start  2017-04-18 11:26:31
40024    9998964      Test      confirm  2017-04-05 23:50:02
40025    9999009      Test      confirm  2017-03-31 07:20:36
40026    9999400      Test      confirm  2017-04-20 05:23:27
40027    9999729      Test       step_1  2017-04-05 13:41:04

[40028 rows x 4 columns]

In [8]:
#Completion Rate: The proportion of users who reach the final ‘confirm’ step.
Percent_cofirm = df['process_step'].value_counts().loc['confirm']/40028
Percent_cofirm

0.5633056860197861

In [6]:
df.sort_values(by='client_id')

       client_id variation process_step            date_time
0            555      Test      confirm  2017-04-15 13:00:34
1            647      Test      confirm  2017-04-12 15:47:45
2            934      Test        start  2017-04-18 02:38:52
3           1028   Control       step_1  2017-04-08 19:00:26
4           1186   Control       step_2  2017-04-08 18:05:24
...          ...       ...          ...                  ...
40023    9998921   Control        start  2017-04-18 11:26:31
40024    9998964      Test      confirm  2017-04-05 23:50:02
40025    9999009      Test      confirm  2017-03-31 07:20:36
40026    9999400      Test      confirm  2017-04-20 05:23:27
40027    9999729      Test       step_1  2017-04-05 13:41:04

[40028 rows x 4 columns]